@import "../../../../../styles//index.scss";

.comments {
	height: calc(100% - 95px);
	overflow-y: scroll;

	.coments2 {
		border-radius: 18px;
		border: 1px solid #3a3b3c;
		padding: 10px;
		margin-left: 2px;
		margin-right: 10px;
		text-align: left;
		width: 85%;
		background: #f6f8fa;
	}
	.hr {
		width: 100%;
		padding: 0px !important;
		border: 0px !important;
	}
	.comment {
		display: flex;
		align-items: center;
		padding: 10px;
		border-bottom: 1px solid $primary_color;
		color: $grey_font;
		@media (max-width: 768px) {
			font-size: 10px;
		}
		a {
			display: flex;
		}
		.imagen {
			margin-right: 15px !important;
		}
		img {
			margin-right: 15px !important;
			@media (max-width: 768px) {
				width: 30px !important;
				height: 30px !important;
			}
		}
		p {
			margin: 0;
			&:first-of-type {
				font-weight: bold;
			}
		}
	}
}
