/* background */

/* background */

.main {
	width: 504px;
	height: 300px;
	display: flex;
	z-index: 9;
	margin: 0px auto;
	margin-top: 100px;

	flex-direction: column;

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&--title {
			padding: 23px 15px 22px;
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: 14px;
			font-weight: normal;
			color: #fff;
		}

		&--button {
			font-size: 13px;
			padding: 27px 15px 28px;
			color: #00a79d;
			font-weight: 700;
			display: flex;
			flex-direction: row;
			align-items: center;
			cursor: pointer;
		}
	}

	&__content {
		width: 100%;
		height: auto;
		background: #fff;
		padding: 20px 30px;
		box-shadow: 0 1px 1px rgba(97, 127, 152, 0.2), 1px 0 0 rgba(97, 127, 152, 0.1), -1px 0 0 rgba(97, 127, 152, 0.1);
		border-radius: 2px;

		p {
			color: #999;
			margin: 15px 0 30px;
			font-size: 13px;
			line-height: 160%;
		}

		&--verificationPage {
			text-align: center;

			h1 {
				margin: 0px;
			}
			a {
				display: block;
				margin: 5px 0 15px;
				color: #3a6d99;
			}
		}
	}
}

.PhoneInputCountry {
	display: flex;
}
.PhoneInputCountryIcon {
	width: 30px;
}
.PhoneInputCountryIconImg {
	padding-left: 5px;
}

.PhoneInputInput {
	margin-top: 10px;
}
